* {
  font-family: 'Press Start 2P', cursive;

}
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 40px;
  text-align: center;
}

#description {
  padding: 10px;
}

a:link {
  color: #FF543D;
  text-decoration: none;
  outline:none;
}

a:visited {
  color: #FF543D;
  text-decoration: none;
}

a:hover {
  color: #FF6F5C;
  text-decoration: none;
}

a:active {
  color: #FF1E00;
  text-decoration: none;
}

button {
  color: white;
  background-color: #FF543D;
  padding: 10px;
  border: 3px;
  border-style: solid;
  border-color: white;
  cursor: pointer;
  outline:none;
}

button:hover {
    background-color: #FF6F5C;
}

#input-data {
  font-family: 'PT Mono';
}
textarea {
  color: white;
  background-color: black;
  padding: 10px;
  border: 3px;
  border-style: solid;
  border-color: white;
  outline:none;
  font-family: 'PT Mono';
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=25477);
}
canvas {
  display: inline-block;
}
